<section
  id="{{id}}"
  data-scroll-id="{{id}}"
  data-module="ScoreCard"
  style="opacity: 0"
  class="score-card u-load-hide {{containerModifiers}}"
>
  <div class="l-row {{rowModifiers}}">
    <div class="l-row__col">
      <div class="score-card__inside {{insideModifiers}}">
        <div class="score-card__row l-row no-margin">
          <div class="score-card__image l-row__col med-width-{{imageCol}} no-gutter">
            <figure class="score-card__figure u-figure {{imageModifiers}}">
              <span class="score">
                {{#if num}}
                  <small class="score__num u-small u-bold u-radius-round u-text-{{scoreNumColor}} u-bg-{{scoreNumBg}}">
                    {{num}}
                  </small>
                {{/if}}
                {{#if country}}
                  <h3 class="u-h3 u-bold u-text-shadow u-text-{{scoreColor}}">
                    {{country}}
                  </h3>
                {{/if}}
                {{#if subtitle}}
                  <p class="u-small u-text-shadow u-text-{{scoreColor}}">
                    <small>{{subtitle}}</small>
                  </p>
                {{/if}}
                {{#if score}}
                  <p class="score__pill u-h5 u-bold u-radius-med u-text-{{scorePillColor}} u-bg-{{scorePillBg}}">
                    {{score}}
                  </p>
                {{/if}}
              </span>
              {{#if image}}
                <img class="u-figure__img" src="{{{image}}}" alt="" loading="lazy" />
              {{/if}}
            </figure>
          </div>
          <div class="l-row__col med-width-{{contentCol}} no-gutter">
            <div class="score-card__content u-content {{contentModifiers}}">
              {{{content}}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>