<section
  id="{{id}}"
  data-scroll-id="{{id}}"
  data-module="Quote"
  style="opacity: 0"
  class="quote u-load-hide {{containerModifiers}}"
>
  <div class="l-row {{rowModifiers}}">
    <div class="l-row__col">
      <div class="quote__content">
        {{#if image}}
          <figure class="quote__figure u-figure {{imageModifiers}}">
            <img class="u-figure__img" src="{{image}}" alt="{{imageAlt}}" loading="lazy" />
          </figure>
        {{/if}}
        {{#if quote}}
          <blockquote class="quote__blockquote u-blockquote {{quoteModifiers}}">
            {{{quote}}}
          </blockquote>
        {{/if}}
        {{#if author}}
          <cite class="quote__cite {{authorModifiers}}">
            {{author}}
          </cite>
        {{/if}}
        {{#if title}}
          <div class="{{titleModifiers}}">
            {{title}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</section>