<section data-module="Hero" style="opacity: 0" class="hero u-load-hide {{containerModifiers}}">
  <div class="l-row {{rowModifiers}}">
    <div class="l-row__col med-width-{{imageCol}}">
      {{#if image}}
        <figure class="u-figure {{imageModifiers}}">
          <img class="u-figure__img" src="{{image}}" alt="{{imageAlt}}" loading="lazy" />
        </figure>
      {{/if}}
    </div>
    <div class="l-row__col med-width-{{contentCol}}">
      <div class="hero__content {{contentModifiers}}">
        {{#if subtitle}}
          <div class="u-small u-uppercase u-bold">
            {{{subtitle}}}
          </div>
        {{/if}}
        {{#if title}}
          <div class="u-h1 u-bold u-spacing-t-xxsml">
            {{{title}}}
          </div>
        {{/if}}
        {{#if btnText}}
          <div class="u-spacing-t-sml">
            <a href="{{btnLink}}" class="u-btn-{{btnColor}}">
              {{btnText}}
            </a>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</section>