<section
  data-module="Hero"
  style="opacity: 0"
  class="hero u-load-hide u-bg-{{bg}} u-spacing-t-{{pt}} u-spacing-b-{{pb}}"
>
  <div class="l-row direction-row-reverse align-center">
    <div class="l-row__col med-width-6">
      {{#if image}}
        <figure class="u-figure is-contain">
          <img class="u-figure__img" src="{{image}}" alt="" loading="lazy" />
        </figure>
      {{/if}}
    </div>
    <div class="l-row__col med-width-6">
      <div class="hero__content u-text-{{color}}">
        {{#if subtitle}}
          <div class="u-small u-uppercase u-bold">
            {{{subtitle}}}
          </div>
        {{/if}}
        {{#if title}}
          <div class="u-h1 u-bold u-spacing-t-xxsml">
            {{{title}}}
          </div>
        {{/if}}
        {{#if btnText}}
          <div class="u-spacing-t-sml">
            <a href="{{btnLink}}" class="u-btn-{{btnColor}}">
              {{btnText}}
            </a>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</section>