<section
  id="{{id}}"
  data-scroll-id="{{id}}"
  data-module="Content"
  style="opacity: 0"
  class="u-load-hide {{containerModifiers}}"
>
  <div class="l-row {{rowModifiers}}">
    <div class="l-row__col">
      <div class="u-content {{contentModifiers}}">
        {{{content}}}
      </div>
    </div>
  </div>
</section>