<section data-module="Content" style="opacity: 0" class="u-load-hide u-bg-{{bg}} u-spacing-t-{{pt}} u-spacing-b-{{pb}}">
  <div class="l-row">
    <div class="l-row__col">
      <div class="u-content u-text-{{color}} u-link-{{link}}">
        {{{content}}}
      </div>
    </div>
  </div>
</section>