<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ htmlWebpackPlugin.options.title }}</title>
  <meta name="description" content="{{ htmlWebpackPlugin.options.description }}">
  <meta name="author" content="{{ htmlWebpackPlugin.options.author }}">
  <meta property="og:title" content="{{ htmlWebpackPlugin.options.title }}">
  <meta property="og:description" content="{{ htmlWebpackPlugin.options.description }}">
  <meta property="og:image" content="images/social.jpg">
  <meta property="og:url" content="{{ htmlWebpackPlugin.options.url }}">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ htmlWebpackPlugin.options.title }}">
  <meta name="twitter:description" content="{{ htmlWebpackPlugin.options.description }}">
  <meta name="twitter:image" content="images/social.jpg">
  <link rel="icon" type="image/png" href="images/favicon.png" sizes="192x192" />
  <link rel="apple-touch-icon" href="images/favicon.png" />
  <link rel="canonical" href="{{ htmlWebpackPlugin.options.canonical }}" hreflang="en"/>
  <script defer src="js/font-awesome.js"></script>
  <link rel="stylesheet" href="https://use.typekit.net/myg7nex.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/scroll-hint@1.1.10/css/scroll-hint.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/social-share-kit@1.0.15/dist/css/social-share-kit.css">
</head>
