<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <meta name="description" content="{{htmlWebpackPlugin.options.description}}" />
  <meta name="author" content="{{htmlWebpackPlugin.options.author}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{htmlWebpackPlugin.options.url}}" />
  <meta property="og:title" content="{{htmlWebpackPlugin.options.title}}" />
  <meta property="og:description" content="{{htmlWebpackPlugin.options.description}}" />
  <meta property="og:image" content="./images/social.jpg" />
  <meta property="og:locale" content="{{htmlWebpackPlugin.options.locale}}" />
  <meta property="og:site_name" content="{{htmlWebpackPlugin.options.siteName}}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{htmlWebpackPlugin.options.title}}" />
  <meta name="twitter:description" content="{{htmlWebpackPlugin.options.description}}" />
  <meta name="twitter:image" content="./images/social.jpg" />
  <link rel="canonical" href="{{htmlWebpackPlugin.options.canonical}}" hreflang="en" />
  <link rel="icon" type="image/png" href="./images/favicon-96x96.png" sizes="96x96" />
  <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="{{htmlWebpackPlugin.options.siteName}}" />
</head>