<section
  id="{{id}}"
  data-scroll-id="{{id}}"
  data-module="Chapter"
  style="opacity: 0"
  class="chapter u-load-hide {{containerModifiers}}"
>
  <div class="l-row {{rowModifiers}}">
    <div class="l-row__col {{contentModifiers}}">
      <div class="u-small u-uppercase u-bold">
        {{{subtitle}}}
      </div>
      <div class="u-h2 u-bold u-spacing-t-xxsml">
        {{{title}}}
      </div>
      <div class="u-p u-spacing-t-xsml">
        {{{content}}}
      </div>
    </div>
  </div>
</section>