<header data-preload="true" data-module="Header" class="header u-load-hide {{containerModifiers}}" style="opacity: 0">
  {{#if image}}
    <div class="l-row {{rowModifiers}}">
      <div class="l-row__col">
        {{#if url}}
          <a href="{{url}}" rel="noreferrer" class="header__logo">
            <figure class="u-figure {{imageModifiers}}">
              <img
                src="{{image}}"
                alt="{{imageAlt}}"
                width="{{imageWidth}}"
                height="{{imageHeight}}"
                class="u-figure__img"
                loading="lazy"
              />
            </figure>
          </a>
        {{/if}}
      </div>
    </div>
  {{/if}}
</header>