<section
  id="{{id}}"
  data-scroll-id="{{id}}"
  data-module="Table"
  style="opacity: 0"
  class="table u-load-hide {{containerModifiers}}"
>
  <div class="l-row {{rowModifiers}}">
    <div class="l-row__col">
      <table class="u-table js-dataTable" id="dataTable">
        {{#if th}}
          <thead>
            <tr>
              {{#each th}}
                <th class="{{className}}">{{text}}</th>
              {{/each}}
            </tr>
          </thead>
        {{/if}}
        <tbody></tbody>
      </table>
    </div>
  </div>
</section>